extends layout

block content
  h1= title
  p Welcome to #{title}
  h1.big Hello, world!
    i.fa.fa-globe.globe
    i.fa.fa-arrows.arrows
    i.fa.fa-bullseye.bullseye
    i.fa.fa-eye-slash.eye-slash